<FullScreenWrapper FullScreen="@fullScreen">
    <div class="card">
        <div class="@HeadingClass card-header d-flex justify-content-between align-items-center">
           @Heading <button class="btn btn-light" @onclick="ToggleFullScreen">@ToggleFullScreenText</button>
        </div>
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</FullScreenWrapper>

@code
{
    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string HeadingClass { get; set; }

    private bool fullScreen { get; set; }

    public string ToggleFullScreenText => fullScreen ? "-" : "+";

    private void ToggleFullScreen()
    {
        fullScreen = !fullScreen;
    }     
}