<FullScreenWrapper FullScreen="@fullScreen">
    <div class="card">
        <div class="@HeadingClass card-header d-flex justify-content-between align-items-center">
           @Heading <button class="btn btn-light" @onclick="ToggleFullScreen"><span class=@ToggleFullScreenIcon title="toggle fullscreen" aria-hidden="true" /></button>
        </div>
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</FullScreenWrapper>

@code
{
    [Parameter]
    public string Heading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string HeadingClass { get; set; }

    private bool fullScreen { get; set; }

    public string ToggleFullScreenIcon => fullScreen ? "oi oi-fullscreen-exit" : "oi oi-fullscreen-enter";

    private void ToggleFullScreen()
    {
        fullScreen = !fullScreen;
    }     
}