@page "/"

<div class="row row-cols-3 g-4">
    <div class="col">
        <Panel heading="Counter" headingClass="text-white bg-info">
            <Counter />
        </Panel>
    </div>
    <div class="col">
        <Panel heading="How are you finding Blazor?">
            <p>We want your feedback!</p>
            <SurveyPrompt />
        </Panel>
    </div>

    <div class="col-12">
        <ImportantPanel heading="Weather">
            <FetchData />
        </ImportantPanel >
    </div>
</div>