@page "/"

<div class="row row-cols-3 g-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Counter
            </div>
            <div class="card-body">
                <Counter />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                How are you finding Blazor?
            </div>
            <div class="card-body">
                <p>We want your feedback!</p>
                <SurveyPrompt />
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Weather
            </div>
            <div class="card-body">
                <FetchData />
            </div>
        </div>
    </div>
</div>